{% extends "layouts/base.html" %}
{% block content %}
<h1>About</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis nesciunt perferendis est dicta praesentium, quas eum nisi deleniti odit repellendus iure illum veniam, incidunt accusantium temporibus sequi sint delectus quis. Assumenda aperiam repellendus amet in asperiores, fuga ut eum rem quas nisi voluptatum itaque iste, similique sapiente. Aliquid labore minus fugiat sunt eius, itaque culpa suscipit pariatur laudantium enim cumque voluptatem molestiae iste repudiandae sit similique facere consequuntur aperiam, quisquam nostrum et laborum illo est! Laudantium facilis beatae modi nisi eos temporibus impedit! Inventore modi molestiae fugiat ex! Saepe tempora officia quo provident consequuntur quas fugiat consectetur dolores repellendus sed?</p>
<p>Website created by {{username}}</p>
{% endblock %}